<html>
<head>

<title>Demo Socket IO</title>
<script src="jquery-3.2.1.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
<script src="bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
<link rel="stylesheet" href="bootstrap-toggle-master/css/bootstrap-toggle.min.css"/>
<link href="Stype.css" rel="stylesheet">
</head>
<body>
   <img class="luu" src="SuperMan.jpg">
</body>
</html>